body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/background.png");
}

.logo {
	color: #FFF;
	font-size: 6em;
	text-align: center;
}

.logo .img-responsive {
	max-height: 500px;
	min-width: 350px;
	margin: 0 auto;
}

.batuta-jumbo{
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
	background-color: #1C1F26;
	color: #f3f3f3;
}

.batuta-jumbo .batuta-title {
	margin-top:0;
	font-size: 3em;
}

.batuta-jumbo .batuta-subtitle {
	font-size: 1.3em;
	padding-bottom: 15px;
	border-bottom: solid 1px #666;
}

.batuta-jumbo .batuta-description {
	font-size: 1.1em;
}


li {
	padding: 1%;
	list-style-type:none;
}

.logo-title {
}

.batuta-container {
	margin-top:2%;
}

.batuta-spotify {
	padding: 0;
	border: 0px none white;
}

.batuta-img-frevo {
	width:100%;
	height: auto;
}

.card {
	padding:5px;
}
.batuta-card {
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
	background-color: #1C1F26;
	color: #f3f3f3;
	border-radius: 6px;
	padding: 10px;
}

.batuta-card .btn {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.batuta-card .card-img-top {
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.batuta-card .card-img-top img {
	min-width: 100%;
}

.frevo-subtitle {
	font-size: 1.4em;
	padding-bottom: 15px;
	border-bottom: solid 1px #666;
} 

.frevo-title {
	margin-top:0;
	font-size: 3em;
}

.frevo-description{
	font-size: 1.1em;
}

.modal { 
    display:    none; 
    position:   fixed; 
    z-index:    1000; 
    top:        0; 
    left:       0; 
    height:     100%; 
    width:      100%; 
    background: rgba( 255, 255, 255, .8 )  
        url('/images/l6BEEsW.gif') 
        50% 50%  
        no-repeat; 
} 
 
/* When the body has the loading class, we turn 
the scrollbar off with overflow:hidden */ 
body.loading { 
    overflow: hidden;    
} 
 
/* Anytime the body has the loading class, our 
modal element will be visible */ 
body.loading .modal { 
    display: block; 
} 